<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CtpQuoteDriver" type="USe.TradeDriver.Ctp.CtpQuoteSection, USe.CtpQuoteDriver"/>
  </configSections>

  <CtpQuoteDriver>
    <drivers>
      <driver name="MainServer" address="58.246.49.132" port="41205" connectTimeOut="3000" queryTimeOut="0" streamPath=""/>
      <driver name="SecondeServer" address="58.246.49.132" port="41205" connectTimeOut="3000" queryTimeOut="0" streamPath=""/>
    </drivers>
  </CtpQuoteDriver>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
