<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="USe.Common.AppLogger" type="USe.Common.AppLogger.Configuration.AppLoggerSectionGroup, USe.Common.AppLogger">
      <section name="appLoggers" type="USe.Common.AppLogger.Configuration.AppLoggersSection, USe.Common.AppLogger"/>
    </sectionGroup>
    <section name="Service_test" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="Service_deve" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="Service_pre" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <add key="account" value="18016321103" />
    <add key="password" value="123456" />
    <add key="Enable" value="false"/>
    <add key="ssoHost" value="sso.test.1b2b.cn"/> 
    <add key="address" value="utrade.useonline.cn"/>
    <add key="serviceHost" value="deal.utrade.useonline.cn"/>
    <add key="userHost" value="utrade.useonline.cn/user"/>
    <add key="orderHost" value="order.utrade.useonline.cn"/>
    <add key="futuredataHost" value="futuredata.utrade.useonline.cn"/>
    <add key="mqttHost" value="mqttws.utrade.useonline.cn"/>
    <add key="dataCenterAddress" value="a3.useonline.cn"/>
    <add key="mqttPort" value="80"/>
    <add key="keepAlive" value="20"/>
    <add key="printUrl" value="https://ec.test.bank.ecitic.com/corporbank/cb060400_reBill.do"/>
  </appSettings>
  <Service_test name="Service_test" text="测试环境" enable="false" dataCenterAddress="172.16.88.140:9000" ssoAddressQuote="172.16.88.165" addressQuote="172.16.88.167" MQTTPort="1883"  requireTopic="trans_collect_topic" QuotesTopic="market" ListTopic="trans_list_topic"/>
  <Service_deve name="Service_deve" text="开发环境" enable="true" dataCenterAddress="172.16.88.140:9000" ssoAddressQuote="sso.test.1b2b.cn" addressQuote="172.16.88.152" MQTTPort="3307" requireTopic="trans_collect_topic" QuotesTopic="market" ListTopic="trans_list_topic"/>
  <log4net>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="./log/logfile_" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <param name="Threshold" value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,fff}] %5p - %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
